spring:
  application:
      name: Rest-com-Spring-Boot
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/Rest_com_Spring_Boot?useTimeZone=true&serverTimezone=UTC
    username: root
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
    show-sql: false

    open-in-view: false
logging:
  level:
    com.gustavo.luan: DEBUG